body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 7px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    margin: 10px auto;
    width: fit-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0 20px;
}

li a {
    display: inline-block;
    padding: 10px 20px;
    transition: background-color 0.5s, box-shadow 0.5s, rotate 0.5s, color 0.5s;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

li:hover a {
    background-color: #fff;
    box-shadow: 0 0 30px 10px #fff;
    color: #000;
    transform: rotate(5deg);
}

#welkomtext {
    animation: zoom-in-zoom-out 10s ease infinite;
    font-size: 100px;
}

.container {
    width: 95%;
    margin: 20px auto;
}

article {
    background-color: #cacaca;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0) rotate(365deg);
    }    
    10% {
      transform: scale(0) rotate(365deg);
    }
    20% {
      transform: scale(1) rotate(-10deg);
    }
    40% {
      transform: scale(1) rotate(10deg);
    }
    60% {
      transform: scale(1) rotate(-10deg);
    }
    80% {
      transform: scale(1) rotate(10deg);
    }
    90% {
      transform: scale(1) rotate(-10deg);
    }
    100% {
      transform: scale(0) rotate(365deg);
    }
}
